<div class="card">
  <div class="card-header">Edit event</div>
  <div class="card-body">
    <form [formGroup]="data" (ngSubmit)="UpdateSubmit()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Title</span>
        <input type="text" class="form-control" placeholder="Title" formControlName="title" aria-label="Title" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Timestamp</span>
        <input type="text" class="form-control" placeholder="Timestamp" formControlName="timestamp" aria-label="Timestamp" aria-describedby="basic-addon1">
      </div>
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</div>
